* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: #222;
  color: #fff;
  font-family: 'Turret Road', cursive;
  font-size: 1.4rem;
  line-height: 1.2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

main {
  padding: 20px 30px;
}

.container {
  max-width: 1080px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

h1 {
  margin: 0.9em 0 1.3em;
  letter-spacing: 5px;
}

h2 {
  width: 100%;
}

.menu-main {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-main__item {
  margin: 15px 25px;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding: 25px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.property > div {
  margin-bottom: 2.3rem;
}

.property__name {
  color: #fbe555;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-right: 30px;
  max-width: 100%;
}

.property__name::after {
  content: ':';
}

.property__values {
  display: inline-flex;
  align-items: center;
  width: 100%;
  letter-spacing: 2px;
}

.value {
  display: inline-flex;
  align-items: center;
  line-height: 1.3;
}

.value + .value::before {
  content: '|';
  display: inline-block;
  margin: 0 10px;
  font-size: 2.3rem;
}

.property__code,
.property__example {
  position: relative;
  width: auto;
  min-width: 30%;
  max-width: calc(50% - 20px);
  padding: 20px;
  margin: 0 10px;
}

.property__code {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.3);
}

.property__example {
  padding-top: 40px;
}

.property__example::before {
  content: 'example';
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.grid {
  border: 1px solid rgba(251, 229, 85, 0.3);
  padding: 10px;
  display: grid;
}

.grid-template-columns-rows {
  grid-template-columns: 40% 1fr;
  grid-template-rows: repeat(2, 1fr);
  animation: grid-template 5s infinite forwards;
}

.grid-template-areas {
  grid-template-columns: repeat(2, 1fr) 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'body body sidebar'
    'footer footer footer';
}

.grid-template-areas .header {
  grid-area: header;
}

.grid-template-areas .body {
  grid-area: body;
}

.grid-template-areas .sidebar {
  grid-area: sidebar;
}

.grid-template-areas .footer {
  grid-area: footer;
}

.grid-template {
  grid-template: 1fr 2fr / 0.8fr 1.2fr;
  animation: grid-template 5s infinite forwards;
}

@keyframes grid-template {
  25% {
    grid-template: 1fr 2fr / 0.8fr 1.2fr;
  }
  50% {
    grid-template: 1fr 1fr / 1fr 1.2fr;
  }
  75% {
    grid-template: 3fr 2fr / 0.8fr 1.4fr;
  }
  100% {
    grid-template: 1fr 0.5fr / 1.8fr 1.2fr;
  }
}

.grid-column-row-gap {
  grid-template-columns: 1fr max-content;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  animation: grid-gap 5s infinite alternate;
}

@keyframes grid-gap {
  25% {
    grid-gap: 20px 10px;
  }
  50% {
    grid-gap: 10px 35px;
  }
  75% {
    grid-gap: 0px 0px;
  }
  100% {
    grid-gap: 35px 55px;
  }
}

.grid-column-row-gap .grid-item,
.grid-gap .grid-item {
  margin: 0;
}

.grid-gap {
  grid-template-columns: 1fr max-content;
  grid-gap: 20px 10px;
  animation: grid-gap 5s infinite alternate;
}

.justify-items {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  animation: justify-items 5s infinite forwards;
}

@keyframes justify-items {
  25% {
    justify-items: stretch;
  }
  50% {
    justify-items: end;
  }
  75% {
    justify-items: center;
  }
  100% {
    justify-items: start;
  }
}

.align-items {
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  height: 250px;
  animation: align-items 5s infinite forwards;
}

@keyframes align-items {
  25% {
    align-items: stretch;
  }
  50% {
    align-items: end;
  }
  75% {
    align-items: center;
  }
  100% {
    align-items: start;
  }
}

.place-items {
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center end;
  height: 250px;
}

.justify-content {
  grid-template: auto / 100px 100px;
  justify-items: start;
  animation: justify-content 8s infinite forwards;
  transition: all 0.3s ease;
}

@keyframes justify-content {
  14% {
    justify-content: start;
  }
  28% {
    justify-content: end;
  }
  42% {
    justify-content: center;
  }
  56% {
    justify-content: stretch;
  }
  80% {
    justify-content: space-around;
  }
  94% {
    justify-content: space-between;
  }
  100% {
    justify-content: space-evenly;
  }
}

.align-content {
  grid-template: auto / repeat(2, 1fr);
  height: 250px;
  animation: align-content 8s infinite forwards;
}

@keyframes align-content {
  14% {
    align-content: start;
  }
  28% {
    align-content: end;
  }
  42% {
    align-content: center;
  }
  56% {
    align-content: stretch;
  }
  80% {
    align-content: space-around;
  }
  94% {
    align-content: space-between;
  }
  100% {
    align-content: space-evenly;
  }
}

.grid-item {
  border: 1px dashed rgba(251, 229, 85, 0.6);
  padding: 10px;
  margin: 10px;
}

pre {
  padding-top: 20px;
  font-size: 1.8rem;
  min-width: 100px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  tab-size: 2;
}

pre::before {
  content: attr(rel);
  position: absolute;
  top: 10px;
  left: 20px;
}

pre code {
  line-height: 1.75;
  background: 0 0;
  padding: 30px;
  white-space: pre;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  font-family: 'Share Tech Mono', monospace;
}
